.datePicker
{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    position: absolute;
    bottom: 12rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 3rem;
    min-height: 35rem;
    width: 35.5rem;
    border-radius: 2rem;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 30px 70px rgb(72 96 146 / 20%);

    &[data-activate="true"]
    {
        display: flex;
    }

    &Header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        & > h4
        {
            color: #a4aac0;
            font-size: 1.8rem;
            font-family: YekanBakhMedium, sans-serif;
        }

        & > div
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 11rem;
            padding: 0.3rem;
            border-radius: 0.8rem;
            background: #edeff6;

            & > button
            {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: YekanBakhHeavy, sans-serif;
                font-weight: 500;
                width: 100%;
                outline: none;
                background: transparent;
                border: none;
                padding: 0.5rem 0;
                border-radius: 0.8rem;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: #9ca4c2;
                transition: all 0.2s;
                cursor: pointer;

                &:hover
                {
                    color: #4a6192;
                }

                &[data-activate="true"]
                {
                    color: #4a6192;
                    background: #fff;
                }
            }
        }
    }

    &Output
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;

            border: 2px solid #edeff6;
            padding: 0.85rem 2rem;
            border-radius: 10rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all 0.2s;
            background: transparent;
            color: #4a6192;

            & > span
            {
                color: #adb0b9;
            }
        }
    }

    &Months
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 3.5rem;

        &[data-language="ENGLISH"]
        {
            direction: ltr;
            font-family: RobotoRegular, sans-serif !important;

            & *
            {
                font-family: RobotoRegular, sans-serif !important;
            }

            & > button
            {
                & > svg
                {
                    transform: rotate(180deg) !important;
                }

                &:first-child > svg
                {
                    transform: rotate(0deg) !important;
                }
            }
        }

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            text-align: center;
            font-size: 1.75rem;
        }

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;

            outline: none;
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;
            min-width: 3.5rem;
            min-height: 3.5rem;
            transition: all 0.2s;
            border-radius: 10rem;
            background: transparent;
            border: 2px solid #edeff6;

            & > svg
            {
                width: 1.75rem;
                height: 1.75rem;

                & *
                {
                    fill: #4a6192;
                }
            }

            &:first-child > svg
            {
                transform: rotate(180deg);
            }

            &:hover
            {
                background: #edeff6;
            }

            &[data-activate="false"]
            {
                cursor: auto;
                border: none;
                background: #e3e6f0 0 0 no-repeat padding-box;

                & > svg *
                {
                    fill: #96a5c6;
                }
            }
        }
    }

    &Days
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        width: 100%;
        height: 100%;

        & > header
        {
            display: grid;
            grid-template-rows: 3.5rem;
            grid-template-columns: repeat(7, 3.5rem);
            grid-gap: 0.65rem;

            width: 100%;
            height: 4rem;

            & > span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                user-select: none;
                border: 2px solid transparent;

                text-align: center;
                font-size: 1.5rem;
                font-family: YekanBakhMedium, sans-serif;
            }

            &[data-language="ENGLISH"]
            {
                direction: ltr;
                font-family: RobotoRegular, sans-serif !important;

                & *
                {
                    font-family: RobotoRegular, sans-serif !important;
                }
            }
        }

        & > div
        {
            display: grid;
            grid-template-columns: repeat(7, 3.5rem);
            grid-template-rows: repeat(auto-fit, 3.5rem);
            grid-gap: 0.65rem;

            width: 100%;
            height: auto;

            & > span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: YekanBakhMedium, sans-serif;
                min-width: 3.5rem;
                min-height: 3.5rem;
                cursor: pointer;
                user-select: none;
                border: 2px solid #edeff6;
                border-radius: 1.15rem;
                text-align: center;
                font-size: 1.75rem;
                transition: all 0.2s;

                &:hover
                {
                    border: 2px solid #cdd0d7;
                }

                &[data-today="true"]
                {
                    border: 2px solid #4a6192;
                }

                &[data-disable="true"]
                {
                    cursor: auto;
                    opacity: 0;
                    overflow: hidden;
                }

                &[data-holiday="true"]
                {
                    color: #fa5c5c;
                }

                &[data-activate="true"]
                {
                    color: #fff;
                    background: #4a6192;
                    border-color: #4a6192;
                }

                &[data-deactivate="true"]
                {
                    cursor: auto;
                    color: #9ca4c2;
                    border-color: #edeff6;
                    background: #edeff6 0 0 no-repeat padding-box;
                }

                &[data-language="ENGLISH"]
                {
                    font-size: 1.5rem;
                    font-family: RobotoRegular, sans-serif !important;
                }
            }
        }
    }

    &Tooltip
    {
        display: inline-block;

        color: #fff;
        padding: 0.5rem 1.2rem;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 6px;
        background: #4a6192;
        box-shadow: 0 30px 70px #48609233;

        &::after
        {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            box-shadow: 0 30px 70px #48609233;
            border-color: #4a6192 transparent transparent;
        }
    }

    &Footer
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        width: 100%;

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;

            & > span
            {
                margin: 0 0.5rem;
                font-size: 1.8rem;
                color: #7b8393;
                font-family: YekanBakhMedium, sans-serif;
            }
        }

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;

            border: 2px solid #edeff6;
            padding: 0.85rem 2rem;
            border-radius: 10rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all 0.2s;
            background: transparent;
            color: #4a6192;

            &:hover
            {
                background: #fafcff;
                border-color: #4a6192;
            }

            & > svg
            {
                width: 2rem;
                height: 2rem;
                fill: #4a6192;
            }

            &[data-activate="true"]
            {
                border-color: transparent;
                background: #4a6192;
                color: #fff;
                padding: 0.85rem 3rem;
                margin: auto auto auto 0;

                &:hover
                {
                    background: #364b79;
                }
            }

            &[data-disabled="true"]
            {
                cursor: not-allowed;
                background: #4a6192;
                opacity: 0.8;
            }
        }
    }
}
