.datePicker
{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    position: absolute;
    bottom: 12rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 3rem;
    min-height: 35rem;
    width: 35.5rem;
    border-radius: 2rem;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 30px 70px rgba(72, 96, 146, 0.2);

    &[data-activate='true']
    {
        display: flex;
    }

    &Header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        & > h4
        {
            color: #A4AAC0;
            font-size: 1.8rem;
            font-family: YekanBakhMedium, sans-serif;
        }

        & > div
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 11rem;
            padding: .3rem;
            border-radius: .8rem;
            background: #EDEFF6;

            & > button
            {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: YekanBakhHeavy, sans-serif;
                font-weight: 500;
                width: 100%;
                outline: none;
                background: transparent;
                border: none;
                padding: .5rem 0;
                border-radius: .8rem;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: #9CA4C2;
                transition: all .2s;
                cursor: pointer;

                &:hover
                {
                    color: #4a6192;
                }

                &[data-activate='true']
                {
                    color: #4a6192;
                    background: #FFFFFF;
                }
            }
        }
    }

    &Months
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 3.5rem;

        &[data-language='ENGLISH']
        {
            direction: ltr;
            font-family: RobotoRegular, sans-serif !important;

            & *
            {
                font-family: RobotoRegular, sans-serif !important;
            }

            & > button
            {
                & > svg
                {
                    transform: rotate(180deg) !important;
                }

                &:first-child > svg
                {
                    transform: rotate(0deg) !important;
                }
            }
        }

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            text-align: center;
            font-size: 1.75rem;
        }

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;

            outline: none;
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;
            min-width: 3.5rem;
            min-height: 3.5rem;
            transition: all .2s;
            border-radius: 10rem;
            background: transparent;
            border: 2px solid #EDEFF6;

            & > svg
            {
                width: 1.75rem;
                height: 1.75rem;

                & *
                {
                    fill: #4a6192;
                }
            }

            &:first-child > svg
            {
                transform: rotate(180deg);
            }

            &:hover
            {
                background: #EDEFF6;
            }

            &[data-activate='false']
            {
                cursor: auto;
                border: none;
                background: #E3E6F0 0 0 no-repeat padding-box;

                & > svg *
                {
                    fill: #96A5C6;
                }
            }
        }
    }

    &Days
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .5rem;

        width: 100%;
        height: 100%;

        & > header
        {
            display: grid;
            grid-template-rows: 3.5rem;
            grid-template-columns: repeat(7, 3.5rem);
            grid-gap: .85rem;

            width: 100%;
            height: 4rem;

            & > span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                user-select: none;
                border: 2px solid transparent;

                text-align: center;
                font-size: 1.5rem;
                font-family: YekanBakhMedium, sans-serif;
            }

            &[data-language='ENGLISH']
            {
                direction: ltr;
                font-family: RobotoRegular, sans-serif !important;

                & *
                {
                    font-family: RobotoRegular, sans-serif !important;
                }
            }
        }

        & > div
        {
            display: grid;
            grid-template-columns: repeat(7, 3.5rem);
            grid-template-rows: repeat(auto-fit, 3.5rem);
            grid-gap: .85rem;

            width: 100%;
            height: auto;

            & > span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: YekanBakhMedium, sans-serif;
                min-width: 3.5rem;
                min-height: 3.5rem;
                cursor: pointer;
                user-select: none;
                border: 2px solid #EDEFF6;
                border-radius: 1.15rem;
                text-align: center;
                font-size: 1.75rem;
                transition: all .2s;

                &:hover
                {
                    border: 2px solid #cdd0d7;
                }

                &[data-today='true']
                {
                    border: 2px solid #4a6192;
                }

                &[data-disable='true']
                {
                    cursor: auto;
                    opacity: 0;
                    overflow: hidden;
                }

                &[data-holiday='true']
                {
                    color: #FA5C5C;
                }

                &[data-activate='true']
                {
                    color: #FFFFFF;
                    background: #4a6192;
                    border-color: transparent;
                }

                &[data-deactivate='true']
                {
                    cursor: auto;
                    color: #9CA4C2;
                    border-color: transparent;
                    background: #EDEFF6 0 0 no-repeat padding-box;
                }

                &[data-language='ENGLISH']
                {
                    font-size: 1.5rem;
                    font-family: RobotoRegular, sans-serif !important;
                }
            }
        }
    }

    &Tooltip
    {
        display: inline-block;

        color: #FFFFFF;
        padding: .5rem 1.2rem;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 6px;
        background: #4a6192;
        box-shadow: 0 30px 70px #48609233;

        &:after
        {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            box-shadow: 0 30px 70px #48609233;
            border-color: #4a6192 transparent transparent transparent;
        }
    }

    &Footer
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        width: 100%;

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;
        }

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            color: #FFFFFF;
            outline: none;
            border: none;
            padding: .65rem 2.75rem;
            border-radius: .75rem;
            background: #4a6192;
            transition: all .2s;

            &:hover
            {
                background: #3a5182;
            }

            &[data-disabled='true']
            {
                cursor: not-allowed;
                background: #4a6192;
                opacity: .8;
            }
        }
    }
}
