.popup
{
    &Container
    {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        background: rgb(0 0 0 / 20%) 0 0 no-repeat padding-box;
        height: 100vh;
        width: 100%;
    }

    &Wrapper
    {
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: 95%;
        transform: translate(-50%, -50%);
        width: 40rem;
        max-width: 95%;
        background-color: white;
        border-radius: 2rem;
        padding: 4rem;

        &::-webkit-scrollbar
        {
            display: none;
        }

        & > svg:nth-child(1)
        {
            display: flex;
            color: #4a6192;
            cursor: pointer;
            margin: auto;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 4rem;
        }
    }

    &Item
    {
        display: flex;
        gap: 0.5rem;

        color: #4a6192;

        & h1
        {
            font-size: 2rem;
        }

        & h2
        {
            font-size: 1.5rem;
            font-family: YekanBakhRegular, sans-serif;
        }

        & form
        {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            margin-top: 1rem;

            & label
            {
                color: #96a5c6;
                font-size: 1.5rem;
                font-family: YekanBakhRegular, sans-serif;
            }

            & input
            {
                width: 100%;
                outline: none;
                border: 2px solid #edeff6;
                border-radius: 10px;
                color: #4a6192;
                font-size: 1.5rem;
                padding: 1rem 1.5rem;
                font-family: YekanBakhRegular, sans-serif;

                &:focus
                {
                    border-color: #4a6192;
                }
            }
        }

        & button
        {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: auto;
            margin-top: 1rem;
            outline: none;
            border: none;
            width: fit-content;
            padding: 1rem 3.5rem;
            color: #4a6192;
            font-size: 1.75rem;
            border-radius: 10rem;
            transition: all 0.2s;
            cursor: pointer;
            background: transparent;
            letter-spacing: -0.3px;
            font-family: YekanBakhRegular, sans-serif;
            font-weight: 500;

            &:hover
            {
                color: #3a5182;
            }

            &[data-background="true"]
            {
                color: #fff;
                background: #4a6192;
                margin-top: 1rem;
                margin-left: 0;
                font-size: 2rem;

                &:hover
                {
                    background: #3a5182;
                }
            }
        }

        & div
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            margin: auto;
            margin-top: 5rem;
            margin-bottom: 2rem;
            width: 100%;

            & span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                margin: auto;
                font-size: 1.5rem;
                width: 2rem;
                height: 2rem;
                background: #fff;
                color: #96a5c6;
                z-index: 100;
            }

            & hr
            {
                position: absolute;

                width: 100%;
                border-color: rgb(237 239 246 / 50%);
            }
        }

        &[data-column="true"]
        {
            flex-direction: column;
        }
    }
}
