.blogBox
{
    display: flex;
    flex-direction: column;

    border: 1px solid #e3e6f0;
    padding: 5rem 3.5rem;
    height: 52rem;

    & > span
    {
        border-radius: 2rem;
        background-color: #4a6193;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 22rem;
    }

    & > footer
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin: auto;
        margin-bottom: 0;
        font-size: 1rem;
        font-family: YekanBakhBold, sans-serif;

        & > div
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            color: #4a6193;
            font-size: 1.25rem;

            & i
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 1.5rem;
                height: 1.5rem;
                border-radius: 0.7rem;
                background: #09bab5;

                & svg
                {
                    width: 0.8rem;
                    height: 0.8rem;
                    fill: #496193;
                    color: #496193;
                }
            }
        }

        & > div:first-child
        {
            gap: 1.5rem;

            & > div
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                color: #4a6193;
                font-size: 1.25rem;

                & svg
                {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: #496193;
                    color: #496193;
                }

                &:first-child svg *
                {
                    fill: #496193;
                }
            }
        }
    }

    & > h2
    {
        color: #4a6193;
        font-size: 2.25rem;
        padding: 1.5rem 0;
        transition: all 0.2s;
    }

    & > h3
    {
        font-size: 1.75rem;
        color: #496193;
        font-family: YekanBakhRegular, sans-serif;
        padding-bottom: 1.5rem;
    }

    &:hover > h2
    {
        color: #09bab5;
    }
}
