.train
{
    &Header
    {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        min-height: 18rem;
        margin: 3rem 0;
        width: 100%;

        & > div
        {
            width: 100%;
        }

        &:before
        {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -.75rem;
            height: 2rem;
            transform: translate(-50%, 0);
            border-radius: 1rem;
            background: #09BAB5 0 0 no-repeat padding-box;
            min-width: 3rem;
            width: 20rem;
            max-width: 50%;
        }

        &Box
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            border-radius: 1.5rem;
            background-color: #4A6192;
            background-image: url(../../../assets/images/header-10.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            min-height: 18rem;


            & > i
            {
                position: absolute;
                top: calc(50% - 1rem);

                width: 4rem;
                height: 4rem;
                border-radius: 5rem;
                background: #F5F6FA;

                &:first-child
                {
                    right: -2rem;
                }
                &:last-child
                {
                    left: -2rem;
                }
            }
        }
    }

    &Content
    {
        padding-top: 5rem;
        padding-bottom: 10rem;

        display: flex;

        &Filter
        {
            flex: 0 0 30%;

            border: 5px solid #EDEFF6;
            border-radius: 30px;
            padding: 2.5rem 3rem;

            &Header
            {
                div
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h4
                    {
                        color: #496193;
                        font-size: 1.6rem;
                    }

                    span
                    {
                        background: #EDEFF6 0 0 no-repeat padding-box;
                        border-radius: 21px;
                        padding: 1rem;
                        font-size: 1.2rem;
                    }
                }

                ul
                {

                    width: max-content;
                    margin-top: 1rem;

                    li
                    {
                        padding: 0.5rem 1rem;
                        border: 2px solid #EDEFF6;
                        border-radius: 20px;
                        font-size: 1.2rem;
                    }
                }
            }

            &Type
            {

            }
        }

        &Boxes
        {
            flex: 1;
            margin-right: 4rem;

            &Header
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4
                {
                    letter-spacing: -0.48px;
                    color: #496193;
                    font-size: 2rem;
                    padding-top: 2.5rem;
                }

                span
                {
                    border: 3px solid #EDEFF6;
                    border-radius: 90px;
                    padding: 1rem;
                    font-size: 1.4rem;
                }
            }

            &Days
            {
                border: 5px solid #EDEFF6;
                border-radius: 20px;
                margin-top: 3rem;
                margin-bottom: 1rem;

                display: flex;
                justify-content: space-between;

                &Box
                {
                    padding: 2rem 3rem;

                    &:not(:last-child)
                    {
                        border-left: 5px solid #EDEFF6;
                    }

                    p
                    {
                        letter-spacing: -0.36px;
                        color: #496193;
                        font-size: 1.6rem;
                        margin-bottom: 0.5rem;
                    }

                    span
                    {
                        letter-spacing: -0.3px;
                        color: #96A5C6;
                        font-size: 1.4rem;
                    }
                }
            }

            &Ticket
            {

            }
        }
    }
}
