.footer
{
    background: #FAFBFD 0 0 no-repeat padding-box;
    padding: 5rem 0;

    &Divider
    {
        border-bottom: 3px solid #F5F6FA;
        margin: 5rem 0 8rem 0;
    }

    &Boxes
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;

        &Box
        {
            display: flex;

            &Icon
            {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                border: 3px solid #EDEFF6;
                border-radius: 15px;
                width: 6.5rem;
                height: 6.5rem;

                &:before
                {
                    content: '';
                    position: absolute;
                    border-radius: 5rem;
                    width: 2.25rem;
                    height: 2.25rem;
                    left: 50%;
                    top: 50%;
                    transform: translate(-10%, -25%);
                    background: #FFCE3A;
                }

                & svg
                {
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin: auto;
                    width: 2.25rem;
                }
            }

            &Content
            {
                margin-right: 2rem;

                h4
                {
                    font-size: 1.6rem;
                }

                p
                {
                    letter-spacing: -0.3px;
                    color: #96A5C6;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    &App
    {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1115px)
        {
            flex-wrap: wrap;
            gap: .5rem;
        }

        &Content
        {
            flex: 0 0 60%;

            & > h2 > span
            {
                position: relative;

                &:before
                {
                    content: 'مطمئن‌تر به سفر بروید';
                    position: absolute;
                    padding: .15rem 1rem;
                    top: -1.75rem;
                    left: -8rem;
                    font-size: 1.5rem;
                    letter-spacing: -0.27px;
                    color: #ffffff;
                    background: #09BAB5;
                    border-radius: 21px 21px 5px 21px;

                    @media only screen and (max-width: 1200px)
                    {
                        font-size: 1.5rem;
                        border-radius: 17px 17px 4px 17px;
                    }

                    @media only screen and (max-width: 600px)
                    {
                        display: none;
                    }
                }
            }

            p
            {
                display: flex;
                align-items: center;

                margin-top: 1rem;

                & > span:nth-child(1)
                {
                    letter-spacing: -0.36px;
                    color: #496193;
                    font-size: 1.8rem;
                }

                & > a
                {
                    display: flex;
                    align-items: center;

                    letter-spacing: -0.36px;
                    color: #96A5C6;
                    font-size: 1.6rem;
                    margin-right: 5rem;
                    transition: all .2s;

                    &:hover
                    {
                        color: #7484a7;
                    }

                    & svg
                    {
                        display: flex;
                        align-items: center;

                        margin-right: 1rem;
                        width: 1.75rem;
                    }
                }
            }

            @media only screen and (max-width: 1115px)
            {
                flex: auto;

                & > p
                {
                    flex-wrap: wrap;
                    gap: .5rem;

                    & a
                    {
                        margin: 0;
                    }
                }
            }
        }

        &Download
        {
            flex: 0 0 40%;

            @media only screen and (max-width: 1115px)
            {
                padding-top: 2rem;
                flex: auto;
            }

            &Boxes
            {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1.5rem;

                &Box
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border: 3px solid #EDEFF6;
                    border-radius: 20px;
                    padding: 1.6rem 3rem;

                    transition: all .2s;

                    &:hover
                    {
                        cursor: pointer;
                        background: #FFFFFF;
                        border-color: transparent;
                        box-shadow: 0 30px 70px #48609233;
                    }

                    & svg
                    {
                        position: relative;
                        fill: #4A6192;
                        height: 3rem;
                    }

                    span
                    {
                        font-size: 1.6rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    &Achievement
    {
        display: flex;

        @media only screen and (max-width: 1115px)
        {
            flex-direction: column;
            gap: 2rem;
        }

        &Right
        {
            flex: 0 0 40%;

            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 1115px)
            {
                flex: auto;
                flex-wrap: wrap;
            }

            &Box
            {
                display: flex;
                flex-direction: column;

                h5
                {
                    letter-spacing: -0.36px;
                    color: #496193;
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }

                span
                {
                    letter-spacing: -0.3px;
                    color: #96A5C6;
                    font-size: 1.6rem;

                    &:not(:last-child)
                    {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        &Left
        {
            flex: 0 0 60%;
            flex-wrap: wrap;
            padding-right: 12rem;

            @media only screen and (max-width: 1400px)
            {
                padding-right: 8rem;
            }

            @media only screen and (max-width: 1115px)
            {
                padding: 0;
            }

            &Top
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > svg:nth-child(1)
                {
                    height: 10rem;
                    width: 20rem;
                }

                a
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;

                    letter-spacing: -0.36px;
                    color: #96A5C6;
                    font-size: 2rem;

                    & svg
                    {
                        width: 2rem;
                    }

                    &:hover
                    {
                        color: #7484a7;

                        & svg *
                        {
                            fill: #7484a7;
                        }
                    }
                }

                @media only screen and (max-width: 1115px)
                {
                    flex-wrap: wrap;
                    gap: .5rem;
                }
            }

            &Middle
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-size: 1.8rem;
                margin: 2rem 0;

                @media only screen and (max-width: 1115px)
                {
                    flex-wrap: wrap;
                    gap: .5rem;
                }
            }

            &Bottom
            {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                padding-top: 2rem;

                &BG
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: #FFFFFF 0 0 no-repeat padding-box;
                    transition: all .2s;
                    border-radius: 1rem;
                    padding: 1.5rem;
                    margin: 0.5rem;
                    width: 10rem;
                    height: 12rem;
                }

                @media only screen and (max-width: 1115px)
                {
                    flex-wrap: wrap;
                    gap: 1rem;
                }
            }
        }
    }

    &Copyright
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 1115px)
        {
            flex-wrap: wrap;
        }

        p
        {
            letter-spacing: -0.3px;
            color: #96A5C6;
            font-size: 1.6rem;
        }

        &Icons
        {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 1rem;

            &BG
            {
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                background: #EDEFF6 0 0 no-repeat padding-box;
                transition: all .2s;
                border-radius: 4.2rem;
                margin: 0.5rem;
                width: 5rem;
                height: 5rem;

                &:hover
                {
                    background: #ffffff 0 0 no-repeat padding-box;
                }
            }

            svg
            {
                width: 2.5rem;
                height: 2.5rem;
                fill: #4A6192;
            }
        }
    }
}
