.bookingBox
{
    display: none;
    flex-direction: column;
    gap: 2rem;

    padding: 3rem 5rem;
    border-radius: 2rem;
    background: #fff;
    min-height: 10vh;
    height: auto;
    width: 100%;

    &[data-activate="true"]
    {
        display: flex;

        @media only screen and (max-width: 600px)
        {
            flex-wrap: wrap;
        }
    }

    @media only screen and (max-width: 600px)
    {
        padding: 1.5rem 2.5rem;
    }

    & p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        color: #96a5c6;
        font-family: YekanBakhRegular, sans-serif;
        font-size: 1.7rem;
    }

    & span
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        font-family: YekanBakhRegular, sans-serif;
        font-size: 2rem;

        & > svg
        {
            width: 2rem;
            height: 2rem;
            fill: #4a6192;
        }
    }

    & > form
    {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        @media only screen and (max-width: 1230px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        & > div
        {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;

            position: relative;

            width: 100%;

            &::after
            {
                content: attr(data-error_message);

                display: none;

                position: absolute;
                top: 0;
                left: 0;

                font-family: YekanBakhMedium, sans-serif;
                font-size: 1.4rem;
                color: #fa5c5c;
            }

            & > div
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                position: relative;

                border-radius: 1rem;
                outline: none;
                border: 2px solid #edeff6;
                width: 100%;
                padding: 1.2rem 1.7rem;
                font-size: 1.8rem;
                color: #edeff6;

                & > span[data-activate="true"]
                {
                    color: #4a6192;
                }

                & > svg
                {
                    width: 1.3rem;
                    height: 1.3rem;
                    transition: all 0.2s;

                    & *
                    {
                        fill: #96a5c6;
                    }

                    &[data-open="true"]
                    {
                        & *
                        {
                            fill: #4a6192;
                        }

                        transform: rotate(90deg);
                    }
                }

                & > ul
                {
                    display: none;
                    flex-direction: column;
                    gap: 1rem;

                    position: absolute;
                    z-index: 99;
                    top: 7rem;
                    right: 0;

                    padding: 1.5rem;
                    border-radius: 1.5rem;
                    width: 100%;
                    background: #fff 0 0 no-repeat padding-box;
                    box-shadow: 0 30px 70px #48609233;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: right;

                        font-family: YekanBakhMedium, sans-serif;
                        color: #4a6192;
                        border-radius: 1rem;
                        padding: 1.2rem 1.7rem;
                        font-size: 1.8rem;
                        background: #f9fafd 0 0 no-repeat padding-box;
                    }

                    &[data-open="true"]
                    {
                        display: flex;
                    }
                }
            }

            & > label
            {
                font-family: YekanBakhMedium, sans-serif;
                font-size: 1.6rem;
                color: #96a5c6;
                width: 100%;
            }

            & > input
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                position: relative;

                border-radius: 1rem;
                outline: none;
                border: 2px solid #edeff6;
                width: 100%;
                padding: 1.2rem 1.7rem;
                font-size: 1.8rem;
                color: #4a6192;

                &:focus
                {
                    border: 2px solid #4a6192;
                }

                &[data-lang="en"]
                {
                    text-align: left;
                    direction: ltr;
                }
            }

            & > ul
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;

                width: 100%;

                & > span
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    min-width: 4rem;
                    font-size: 3rem;
                }

                & > input
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    position: relative;

                    border-radius: 1rem;
                    outline: none;
                    border: 2px solid #edeff6;
                    max-width: 20%;
                    width: 100%;
                    padding: 1.2rem 1.7rem;
                    font-size: 1.8rem;
                    color: #4a6192;

                    &:focus
                    {
                        border: 2px solid #4a6192;
                    }

                    &::placeholder
                    {
                        text-align: center;
                    }

                    &[data-year="true"]
                    {
                        max-width: 100%;
                    }

                    &[data-lang="en"]
                    {
                        text-align: left;
                        direction: ltr;
                    }

                    &[data-error="true"]:not([data-activate="true"])
                    {
                        &::after
                        {
                            display: block;
                        }

                        color: #fa5c5c;
                        background: #fff9f9 0 0 no-repeat padding-box;
                        border: 2px solid #fa5c5c;

                        & > svg *
                        {
                            fill: #fa5c5c;
                        }
                    }
                }
            }

            &[data-number="true"]
            {
                &::before
                {
                    content: "98+";

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: absolute;
                    z-index: 99;
                    left: 1.2rem;
                    bottom: 2px;

                    height: 52px;
                    padding-right: 1.2rem;
                    border-right: 2px solid #edeff6;
                    font-size: 1.8rem;
                    color: #96a5c6;
                    background: #fff;
                    margin: auto auto auto 0;
                }
            }

            &[data-error="true"]:not([data-activate="true"])
            {
                &::after
                {
                    display: block;
                }

                & > input,
                & > div
                {
                    color: #fa5c5c;
                    background: #fff9f9 0 0 no-repeat padding-box;
                    border: 2px solid #fa5c5c;

                    & > svg *
                    {
                        fill: #fa5c5c;
                    }
                }
            }
        }
    }

    & > header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1.75rem;
            color: #fd5353;

            & > svg
            {
                user-select: none;
                overflow: hidden;
                width: 2.5rem;
                height: 2.5rem;
                fill: #fd5353;
            }
        }
    }

    & > div
    {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        width: 100%;

        @media only screen and (max-width: 600px)
        {
            flex-wrap: wrap;
        }

        &[data-add="true"]
        {
            display: flex;
            align-items: center;
            justify-content: right;
            flex-direction: row;
            gap: 1rem;

            border-radius: 1rem;
            padding: 2rem 1.8rem;
            font-size: 1.6rem;
            margin: 2rem 0;
            background: #fafcff;
            color: #4a6192;
            cursor: pointer;
            transition: all 0.2s;

            &:hover
            {
                background: #f3f7ff;
            }

            & svg
            {
                width: 1.3rem;
                height: 1.3rem;

                & *
                {
                    fill: #4a6192;
                }
            }
        }

        & p
        {
            margin-left: 1rem;

            [type="radio"]:checked,
            [type="radio"]:not(:checked)
            {
                display: none;
            }

            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-right: 2.25rem;
                cursor: pointer;
                line-height: 2rem;
                display: inline-block;
                font-family: YekanBakhMedium, sans-serif;
                font-size: 1.8rem;
                color: #4a6193;
            }

            [type="radio"]:checked + label::before,
            [type="radio"]:not(:checked) + label::before
            {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 0.25rem solid #4a6193;
                border-radius: 100%;
            }

            [type="radio"]:checked + label::after,
            [type="radio"]:not(:checked) + label::after
            {
                content: "";
                width: 1rem;
                height: 1rem;
                background: #4a6193;
                position: absolute;
                top: 4px;
                right: 4px;
                border-radius: 100%;
                transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label::after
            {
                opacity: 0;
                transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label::after
            {
                opacity: 1;
                transform: scale(1);
                transform: scale(1);
            }
        }

        & > button
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            color: #4a6192;
            outline: none;
            border-radius: 10rem;
            font-size: 1.4rem;
            background: transparent;
            padding: 1rem 2rem;
            border: 2px solid #edeff4;
            cursor: pointer;
            font-family: YekanBakhMedium, sans-serif;
            transition: all 0.2s;

            &:hover
            {
                background: #edeff4;
            }

            & > svg
            {
                width: 1.8rem;
                height: 1.8rem;
                fill: #4a6192;

                &[data-fill="true"] *
                {
                    fill: #4a6192;
                }
            }
        }

        & > div
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
        }
    }

    & > ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        width: 100%;
        margin-bottom: 2rem;

        &[data-info="true"]
        {
            flex-direction: column;

            border-radius: 1rem;
            background: #fbfcff;
            padding: 1.5rem 2rem;

            & > li
            {
                justify-content: right;

                gap: 1.5rem;
                padding: 0;

                & svg
                {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: #96a5c6;
                    margin-left: 1rem;
                }

                & > span
                {
                    color: #96a5c6;
                    font-size: 1.6rem;
                }

                & > p
                {
                    color: #4a6192;
                    font-size: 1.6rem;
                }
            }
        }

        & > li
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            border-radius: 1rem;
            background: #fbfcff;
            padding: 3rem 4rem;
            width: 100%;

            & > svg
            {
                width: 3rem;
                height: 3rem;

                & *
                {
                    fill: #4a6192;
                }
            }

            & > div
            {
                display: flex;
                align-items: center;
                flex-direction: column;

                & > p
                {

                }
            }

            & span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                font-family: YekanBakhMedium, sans-serif;
                font-size: 2rem;
                color: #4a6192;
            }
        }
    }
}
