.navbar
{
    display: flex;
    flex-direction: column;

    position: relative;

    background: transparent;
    height: auto;
    width: 100%;

    &[data-header='true']
    {
        padding-bottom: 0;
    }

    @media only screen and (max-width: 1110px)
    {
        & > div:first-child
        {
            display: none;
        }
    }

    & > div
    {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 3rem 0;
        height: 100%;
        width: 100%;
    }

    & > div > svg
    {
        width: 15rem;
    }

    & > div > div
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    & > div > div > button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        white-space: nowrap;
        word-wrap: anywhere;
        cursor: pointer;
        height: 6.5rem;
        width: fit-content;
        font-size: 1.8rem;
        color: #4A6192;
        outline: none;
        border-radius: 10rem;
        padding: 0 2.5rem;
        background: transparent;
        border: 5px solid #EDEFF6;
        transition: all .2s;

        & > svg
        {
            width: 1.8rem;

            *
            {
                fill: #4A6192;
            }
        }

        &:hover
        {
            background: #EDEFF6;
        }
    }

    &List
    {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 3.5rem;

        width: 100%;
        height: 6rem;
        padding: 0 12rem 0 2rem;

        @media only screen and (max-width: 1200px)
        {
            gap: 2.5rem;
        }
    }

    &Item
    {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        color: #A5AFC4;
        font-size: 1.75rem;
        transition: all .2s;
        cursor: pointer;
        height: 100%;

        & svg
        {
            width: 2rem;
        }

        &[data-type='arrow']
        {
            &:after
            {
                content: '';
                display: inline-block;
                width: .75rem;
                height: .75rem;
                border-bottom: .15rem solid currentColor;
                border-left: .15rem solid currentColor;
                border-bottom-left-radius: 2px;
                transform: rotate(45deg) translate(50%, 0%);
                transform-origin: center center;
                transition: transform ease-in-out 100ms;
                margin: 2.4rem 1rem auto auto;
            }

            &:hover:after
            {
                transform: rotate(-45deg) translate(0%, 0%);
            }

            &:hover > div
            {
                display: flex;
            }
        }

        &:hover
        {
            color: #838da1;
        }

        &[data-activate='true']
        {
            color: #4A6193;
        }
    }

    &Popup
    {
        display: none;
        flex-direction: column;

        position: absolute;
        z-index: 110;
        top: 6rem;
        left: -40rem;

        cursor: auto;
        width: 60rem;
        min-height: 10rem;
        background: #ffffff;
        border-radius: 2rem;
        box-shadow: 0 30px 70px #48609233;

        &:before
        {
            content: '';
            display: inline-block;
            position: absolute;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: .5rem;
            transform: rotate(45deg) translate(50%, 0%);
            top: -1rem;
            right: 15rem;
            background: #ffffff;
        }

        & > h3
        {
            padding: 2.75rem 4rem;
            color: #B7BAC6;
        }

        & > div
        {
            display: flex;
            flex-direction: column;
            gap: .75rem;

            padding: 3rem 4rem 2.75rem;

            & h2
            {
                font-family: 'YekanBakhRegular', sans-serif;
                font-size: 1.75rem;
                color: #496193;
            }

            & a
            {
                display: flex;
                align-items: center;
                gap: .75rem;

                margin: 0;
                padding: 0;
                font-size: 1.25rem;
                color: #9CA4C2;
                transition: all .2s;

                & *
                {
                    transition: all .2s;
                }

                & svg
                {
                    width: .5rem;
                    margin: 0;

                    & *
                    {
                        fill: #9CA4C2;
                    }
                }

                &:hover,
                &:hover *
                {
                    color: #7b8393;
                    fill: #7b8393;
                }
            }
        }

        &:hover
        {
            display: flex;
        }
    }

    &PopupList
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;

        padding: 0 4rem 2.75rem;
    }

    &PopupItem
    {
        display: flex;
        align-items: center;

        & a
        {
            color: #4A6193;
            font-size: 1.75rem;
            margin-bottom: .5rem;
            transition: all .2s;

            &:hover
            {
                color: #354b7c;
            }
        }

        & p
        {
            font-size: 1.35rem;
        }

        & span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: 1.5rem;
            width: 5rem;
            height: 5rem;
            background: url('../../../assets/icons/navbar-bg.svg');
            border-radius: 10rem;

            & svg
            {
                display: flex;
                align-items: center;
                justify-content: center;

                margin: auto;
            }
        }
    }

    &Header
    {
       & > div
       {
           display: grid;
           grid-template-rows: 35rem;
           grid-template-columns: repeat(2, 1fr);

           @media only screen and (max-width: 1000px)
           {
               grid-template-rows: 1fr 30rem;
               grid-template-columns: repeat(1, 1fr);
           }
       }

        & > div > div
        {
            display: flex;
            flex-direction: column;

            padding-top: 5rem;

            & span
            {
                display: flex;

                border-radius: 4rem 4rem 0 0;
                width: 100%;
                height: 100%;
                background-color: #4A6192;
                background-size: cover;

                position: relative;

                &:before
                {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    right: -8rem;
                    width: 100%;
                    height: 55%;
                    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F6FA 100%) 0 0 no-repeat padding-box;
                    border-radius: 4rem 4rem 0 0;
                }

                &:after
                {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    right: -5rem;
                    width: 100%;
                    height: 90%;
                    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F6FA 100%) 0 0 no-repeat padding-box;
                    border-radius: 4rem 4rem 0 0;
                }

                @media only screen and (max-width: 1000px)
                {
                    width: 100%;

                    &:after,
                    &:before
                    {
                        display: none;
                    }
                }
            }

            & h2
            {
                font-size: 7rem;
                font-family: 'YekanBakhHeavy', sans-serif;

                @media only screen and (max-width: 1000px)
                {
                    font-size: 4rem;
                }
            }

            & h3
            {
                font-size: 3rem;
                font-family: 'YekanBakhRegular', sans-serif;

                @media only screen and (max-width: 1000px)
                {
                    font-size: 2rem;
                }
            }
        }

        &Nav
        {
            border: 1.5px solid #E3E6F0;
            border-left: none;
            border-right: none;

            & > div {
                display: flex;
                justify-content: space-between;

                padding: 2rem 0;

                * {
                    fill: #96A5C6;
                    color: #96A5C6;
                }

                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    font-size: 1.5rem;

                    &:hover,
                    &:hover * {
                        fill: #808eac;
                        color: #808eac;
                    }
                }

                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    font-size: 1.5rem;

                    & > svg {
                        width: .7rem;
                    }

                    & p[data-activate='true'] {
                        color: #4A6192;
                    }
                }
            }
        }
    }
}
