.booking
{
    &Popup
    {
        display: none;
        align-items: center;
        justify-content: center;

        position: fixed;
        z-index: 110;

        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        &[data-activate='true']
        {
            display: flex;
        }

        & > div
        {
            display: flex;
            align-items: center;
            flex-direction: column;

            border-radius: 2rem;
            background: #FFFFFF;
            height: auto;
            min-height: 10rem;
            width: 100%;
            max-width: 90rem;
            padding: 5rem;

            & > header
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                margin-bottom: 3rem;
                width: 100%;

                & > i
                {
                    cursor: pointer;
                }

                & > span
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    font-size: 2rem;

                    & > svg
                    {
                        width: 2.5rem;
                        height: 2.5rem;
                        fill: #4a6192;
                    }
                }
            }

            & > div
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                position: relative;
                z-index: 98;

                padding: 2rem 3rem;
                background: #FBFCFF;
                width: 100%;
                border-radius: 1.5rem;
                transition: all .2s;
                margin-bottom: 2rem;

                &:hover
                {
                    z-index: 99;

                    background: #FFFFFF 0 0 no-repeat padding-box;
                    box-shadow: 0 30px 70px #48609233;
                }

                & > div
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & > span
                    {
                        font-family: YekanBakhMedium, serif;
                    }
                }

                & > div > span,
                & > button
                {
                    font-size: 2rem;
                    padding: 1rem 3rem;
                    background: transparent;
                    outline: none;
                    border: none;
                }

                & > button
                {
                    padding: 1rem 6rem;
                    background: #4a6192;
                    border-radius: 10rem;
                    color: #FFFFFF;
                    cursor: pointer;
                    transition: all .2s;

                    &:hover
                    {
                        background: #344b7b;
                    }
                }
            }
        }
    }

    & > div
    {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2.5fr 2fr;
        grid-gap: 3rem;

        padding: 4rem 0;

        @media only screen and (max-width: 1000px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        & > div
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            height: auto;
            width: 100%;
        }

        & > div > div
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.8rem;

            height: auto;
            width: 100%;

            & > section
            {
                display: none;
                flex-direction: column;
                gap: 1rem;

                border-radius: 2rem;
                background: #FFFFFF;
                min-height: 10vh;
                width: 100%;

                &[data-activate='true']
                {
                    display: flex;

                    @media only screen and (max-width: 600px)
                    {
                        flex-wrap: wrap;
                    }
                }

                & > header
                {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 5rem;

                    width: 100%;
                    padding: 3rem 5rem;
                    border-bottom: 2px solid #f5f6fa;

                    @media only screen and (max-width: 600px)
                    {
                        gap: 2rem;

                        padding: 1.5rem 2.5rem;
                    }

                    & > div
                    {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 1.5rem;

                        cursor: pointer;
                        font-family: YekanBakhMedium, serif;
                        width: 12.5rem;
                        font-size: 2rem;
                        color: #4A6192;
                        opacity: .5;
                        transition: all .2s;

                        &:hover
                        {
                            opacity: .8;
                        }

                        &[data-activate='true']
                        {
                            opacity: 1;
                        }

                        & > i
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 6rem;
                            height: 6rem;
                            background: url('../../assets/icons/navbar-bg.svg');

                            & > svg
                            {
                                width: 2.5rem;
                                height: 2.5rem;
                                fill: #4A6192;
                            }
                        }
                    }
                }

                & > section
                {
                    display: none;
                    flex-direction: column;
                    gap: 2rem;

                    padding: 3rem 5rem;

                    @media only screen and (max-width: 600px)
                    {
                        padding: 1.5rem 2.5rem;
                    }

                    & > form
                    {
                        display: grid;
                        grid-template-rows: auto;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 2rem;

                        @media only screen and (max-width: 1230px)
                        {
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr;
                        }

                        & > div
                        {
                            display: flex;
                            align-items: start;
                            flex-direction: column;
                            gap: 1rem;

                            position: relative;

                            width: 100%;

                            &:after
                            {
                                content: attr(data-error_message);

                                display: none;

                                position: absolute;
                                top: 0;
                                left: 0;

                                font-family: YekanBakhMedium, serif;
                                font-size: 1.4rem;
                                color: #FA5C5C;
                            }

                            & > div
                            {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                position: relative;

                                border-radius: 1rem;
                                outline: none;
                                border: 2px solid #EDEFF6;
                                width: 100%;
                                padding: 1.2rem 1.7rem;
                                font-size: 1.8rem;
                                color: #EDEFF6;

                                & > span[data-activate='true']
                                {
                                    color: #4a6192;
                                }

                                & > svg
                                {
                                    width: 1.3rem;
                                    height: 1.3rem;
                                    transition: all .2s;

                                    & *
                                    {
                                        fill: #96A5C6;
                                    }

                                    &[data-open='true']
                                    {
                                        & *
                                        {
                                            fill: #4a6192;
                                        }

                                        transform: rotate(90deg);
                                    }
                                }

                                & > ul
                                {
                                    display: none;
                                    flex-direction: column;
                                    gap: 1rem;

                                    position: absolute;
                                    z-index: 99;
                                    top: 7rem;
                                    right: 0;

                                    padding: 1.5rem;
                                    border-radius: 1.5rem;
                                    width: 100%;
                                    background: #FFFFFF 0 0 no-repeat padding-box;
                                    box-shadow: 0 30px 70px #48609233;

                                    & > li
                                    {
                                        display: flex;
                                        align-items: center;
                                        justify-content: right;

                                        font-family: YekanBakhMedium, serif;
                                        color: #4a6192;
                                        border-radius: 1rem;
                                        padding: 1.2rem 1.7rem;
                                        font-size: 1.8rem;
                                        background: #F9FAFD 0 0 no-repeat padding-box;
                                    }

                                    &[data-open='true']
                                    {
                                        display: flex;
                                    }
                                }
                            }

                            & > label
                            {
                                font-family: YekanBakhMedium, serif;
                                font-size: 1.6rem;
                                color: #96A5C6;
                                width: 100%;
                            }

                            & > input
                            {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                position: relative;

                                border-radius: 1rem;
                                outline: none;
                                border: 2px solid #EDEFF6;
                                width: 100%;
                                padding: 1.2rem 1.7rem;
                                font-size: 1.8rem;
                                color: #4a6192;

                                &:focus
                                {
                                    border: 2px solid #4a6192;
                                }

                                &[data-lang='en']
                                {
                                    text-align: left;
                                    direction: ltr;
                                }
                            }

                            &[data-number='true']
                            {
                                &:before
                                {
                                    content: '98+';

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    position: absolute;
                                    z-index: 99;
                                    left: 1.2rem;
                                    bottom: 2px;

                                    height: 52px;
                                    padding-right: 1.2rem;
                                    border-right: 2px solid #EDEFF6;
                                    font-size: 1.8rem;
                                    color: #96A5C6;
                                    background: #FFFFFF;
                                    margin: auto auto auto 0;
                                }
                            }

                            &[data-error='true']
                            {
                                &:after
                                {
                                    display: block;
                                }

                                & > input,
                                & > div
                                {
                                    color: #FA5C5C;
                                    background: #FFF9F9 0 0 no-repeat padding-box;
                                    border: 2px solid #FA5C5C;

                                    & > svg *
                                    {
                                        fill: #FA5C5C;
                                    }
                                }
                            }
                        }
                    }

                    & > div
                    {
                        display: flex;
                        align-items: start;
                        flex-direction: column;

                        &:nth-child(2)
                        {
                            align-items: center;
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 1rem;

                            @media only screen and (max-width: 600px)
                            {
                                flex-wrap: wrap;
                            }
                        }

                        &[data-add='true']
                        {
                            display: flex;
                            align-items: center;
                            justify-content: right;
                            flex-direction: row;
                            gap: 1rem;

                            border-radius: 1rem;
                            padding: 2rem 1.8rem;
                            font-size: 1.6rem;
                            margin: 2rem 0;
                            background: #FAFCFF;
                            color: #4a6192;
                            cursor: pointer;
                            transition: all .2s;

                            &:hover
                            {
                                background: #f3f7ff;
                            }

                            & svg
                            {
                                width: 1.3rem;
                                height: 1.3rem;

                                & *
                                {
                                    fill: #4a6192;
                                }
                            }
                        }

                        & p
                        {
                            margin-left: 1rem;

                            [type='radio']:checked,
                            [type='radio']:not(:checked)
                            {
                                position: absolute;
                                right: -9999px;
                            }

                            [type='radio']:checked + label,
                            [type='radio']:not(:checked) + label
                            {
                                position: relative;
                                padding-right: 2.25rem;
                                cursor: pointer;
                                line-height: 2rem;
                                display: inline-block;
                                font-family: YekanBakhMedium, serif;
                                font-size: 1.8rem;
                                color: #4A6193;
                            }

                            [type='radio']:checked + label:before,
                            [type='radio']:not(:checked) + label:before
                            {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 18px;
                                height: 18px;
                                border: .25rem solid #4A6193;
                                border-radius: 100%;
                            }

                            [type='radio']:checked + label:after,
                            [type='radio']:not(:checked) + label:after
                            {
                                content: '';
                                width: 1rem;
                                height: 1rem;
                                background: #4A6193;
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                border-radius: 100%;
                                -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                            }

                            [type='radio']:not(:checked) + label:after
                            {
                                opacity: 0;
                                -webkit-transform: scale(0);
                                transform: scale(0);
                            }

                            [type='radio']:checked + label:after
                            {
                                opacity: 1;
                                -webkit-transform: scale(1);
                                transform: scale(1);
                            }
                        }

                        & > button
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            color: #4a6192;
                            outline: none;
                            border-radius: 10rem;
                            font-size: 1.4rem;
                            background: transparent;
                            padding: 1rem 2rem;
                            border: 2px solid #EDEFF4;
                            cursor: pointer;
                            font-family: YekanBakhMedium, serif;
                            transition: all .2s;

                            &:hover
                            {
                                background: #EDEFF4;
                            }

                            & > svg
                            {
                                width: 1.8rem;
                                height: 1.8rem;
                                fill: #4a6192;

                                &[data-fill='true'] *
                                {
                                    fill: #4a6192;
                                }
                            }
                        }

                        & > div
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1.2rem;
                        }

                        & p
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            color: #96A5C6;
                            font-family: YekanBakhRegular, serif;
                            font-size: 1.7rem;
                        }

                        & span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            font-family: YekanBakhRegular, serif;
                            font-size: 2rem;

                            & > svg
                            {
                                width: 2rem;
                                height: 2rem;
                                fill: #4a6192;
                            }
                        }
                    }

                    & > ul
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;

                        width: 100%;
                        margin-bottom: 2rem;

                        &[data-info='true']
                        {
                            flex-direction: column;

                            border-radius: 1rem;
                            background: #FBFCFF;
                            padding: 1.5rem 2rem;

                            & > li
                            {
                                justify-content: right;

                                gap: 1.5rem;
                                padding: 0;

                                & svg
                                {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    fill: #96A5C6;
                                    margin-left: 1rem;
                                }

                                & > span
                                {
                                    color: #96A5C6;
                                    font-size: 1.6rem;
                                }

                                & > p
                                {
                                    color: #4a6192;
                                    font-size: 1.6rem;
                                }
                            }
                        }

                        & > li
                        {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            gap: 1.5rem;

                            border-radius: 1rem;
                            background: #FBFCFF;
                            padding: 3rem 4rem;
                            width: 100%;

                            & > svg
                            {
                                width: 3rem;
                                height: 3rem;

                                & *
                                {
                                    fill: #4a6192;
                                }
                            }

                            & > div
                            {
                                display: flex;
                                align-items: center;
                                flex-direction: column;

                                & > p
                                {

                                }
                            }

                            & span
                            {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                font-family: YekanBakhMedium, serif;
                                font-size: 2rem;
                                color: #4a6192;
                            }
                        }
                    }

                    &[data-activate='true']
                    {
                        display: flex;
                    }
                }
            }
        }

        & > section
        {
            height: fit-content;
            border-radius: 2rem;
            background: #FFFFFF;
            min-height: 10vh;

            & > header
            {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

                width: 100%;
                padding: 5rem;

                @media only screen and (max-width: 600px)
                {
                    padding: 1.5rem 2.5rem;
                }

                & > h2
                {
                    display: flex;
                    align-items: center;
                    justify-content: right;

                    width: 100%;
                    text-align: right;
                    font-weight: 500;
                    font-size: 2.25rem;
                }

                & > div
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    width: 100%;

                    @media only screen and (max-width: 600px)
                    {
                        flex-wrap: wrap;
                    }

                    & > button
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .7rem;

                        cursor: pointer;
                        font-size: 1.5rem;
                        color: #4A6192;
                        padding: 1rem 1.6rem 1rem 1.9rem;
                        border-radius: 10rem;
                        outline: none;
                        background: transparent;
                        border: 2px solid #EDEFF4;
                        transition: all .2s;

                        &:hover
                        {
                            background: #EDEFF4;
                        }

                        & svg
                        {
                            width: 2.2rem;
                            height: 2.2rem;
                            fill: #4A6192;
                        }
                    }

                    & > div
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;

                        & > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .5rem;

                            font-size: 1.7rem;

                            & > p
                            {
                                color: #96A5C6;
                                border-bottom: 2px dashed transparent;
                            }

                            & > a
                            {
                                color: #4A6192;
                                border-bottom: 2px dashed #4A6192;

                                &:hover
                                {
                                    color: #344b7b;
                                    border-color: #344b7b;
                                }
                            }
                        }

                        & > svg
                        {
                            width: 4rem;
                            height: 4rem;
                        }
                    }
                }

                & > div[data-departure_date='true']
                {
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    gap: 1rem;

                    & > span
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;

                        margin: 0 1rem;
                        height: 10rem;
                        border-left: 2px dashed #96A5C6;

                        &:before
                        {
                            content: '';

                            position: absolute;
                            top: -.325rem;
                            left: -.48rem;

                            border-radius: 1rem;
                            width: .65rem;
                            height: .65rem;
                            background: #96A5C6;
                        }

                        &:after
                        {
                            content: '';

                            position: absolute;
                            bottom: -.5rem;
                            left: -.48rem;

                            border-radius: 1rem;
                            width: .65rem;
                            height: .65rem;
                            border: 2px solid #96A5C6;
                        }
                    }

                    & > div
                    {
                        display: flex;
                        align-items: unset;
                        flex-direction: column;

                        min-height: 13rem;

                        &:first-child > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 2rem;
                            color: #96A5C6;

                            &:last-child
                            {
                                margin: auto auto 0;
                            }
                        }

                        &:nth-child(2) > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-family: YekanBakhBold, serif;
                            font-size: 2.25rem;
                            color: #4A6192;

                            &:last-child
                            {
                                margin: auto auto 0;
                            }
                        }

                        &:last-child > div
                        {
                            display: flex;
                            flex-direction: column;

                            padding: 0;
                            margin: 0;

                            & > span
                            {
                                font-size: 2.2rem;
                                color: #4A6192;
                            }

                            & > p
                            {
                                font-size: 1.7rem;
                                color: #96A5C6;
                            }

                            &:last-child
                            {
                                margin: auto auto 0;
                            }
                        }
                    }
                }

                & > ul
                {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    width: 100%;
                    padding: 2rem;
                    margin-top: 2rem;
                    border-radius: 1rem;
                    background: #FBFCFF;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        gap: 1rem;

                        color: #a9afc0;
                        font-size: 1.8rem;

                        & > span
                        {
                            color: #4A6192;
                        }
                    }
                }
            }

            & > footer
            {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

                position: relative;

                border-top: 2px dashed #D2D5E0;
                width: 100%;
                padding: 3rem 5rem;

                &:before
                {
                    content: '';

                    position: absolute;
                    top: -1.5rem;
                    right: -1.5rem;

                    border-radius: 10rem;
                    width: 3rem;
                    height: 3rem;
                    background: #f5f6fa;
                }

                &:after
                {
                    content: '';

                    position: absolute;
                    top: -1.5rem;
                    left: -1.5rem;

                    border-radius: 10rem;
                    width: 3rem;
                    height: 3rem;
                    background: #f5f6fa;
                }

                & form
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    position: relative;

                    border-radius: 1rem;
                    outline: none;
                    border: 2px solid #EDEFF6;
                    width: 100%;
                    padding: .7rem 1rem;
                    font-size: 1.8rem;
                    color: #4a6192;

                    & > input
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background: transparent;
                        color: #4a6192;
                        padding: 1.2rem 3rem;
                        font-size: 2rem;
                        width: 100%;
                        outline: none;
                        border: none;
                    }

                    &[data-error='true']
                    {
                        color: #FA5C5C;
                        background: #FFF9F9 0 0 no-repeat padding-box;
                        border: 2px solid #FA5C5C;
                    }

                    & > button
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 10rem;
                        padding: 1.2rem 2.5rem;
                        font-size: 2rem;
                        color: #FFFFFF;
                        background: #4a6192;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        transition: all .2s;

                        &:hover
                        {
                            background: #344b7b;
                        }
                    }
                }

                & > div
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    width: 100%;
                    font-size: 1.8rem;
                    color: #A4AEC4;

                    @media only screen and (max-width: 600px)
                    {
                        flex-wrap: wrap;
                    }

                    &[data-purchase='true']
                    {
                        align-items: start;
                        flex-direction: column;

                        & > span
                        {
                            font-size: 2.5rem;
                            color: #4a6192;
                        }
                    }

                    &[data-total='true']
                    {
                        font-size: 2.8rem;
                        color: #4A6192;
                        font-weight: 1000;
                    }

                    & > label
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;

                        padding-right: 2.1rem;
                        font-size: 1.6rem;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        color: #4A6192;

                        & > input
                        {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        span
                        {
                            position: absolute;
                            top: .3rem;
                            right: 0;
                            height: 1.6rem;
                            width: 1.6rem;
                            border-radius: .5rem;
                            border: 2px solid #A4AEC4;
                        }

                        & >:hover input ~ span
                        {
                            background-color: #A4AEC4;
                        }

                        & > input:checked ~ span
                        {
                            border: none;
                            background-color: #4A6192;
                        }

                        span:after
                        {
                            content: '';
                            position: absolute;
                            display: none;
                        }

                        & > input:checked ~ span:after
                        {
                            display: block;
                        }

                        & > span:after
                        {
                            right: .5rem;
                            top: .15rem;
                            width: 4.5px;
                            height: 9px;
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }

                    & > button
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        outline: none;
                        border: none;
                        font-size: 2rem;
                        background: transparent linear-gradient(103deg, #09BAB5 0%, #2FE587 100%) 0 0 no-repeat padding-box;
                        padding: 1rem 3rem;
                        border-radius: 10rem;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
