.nav
{
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    z-index: 109;

    width: 100%;
    height: 8.5rem;
    background: #FFFFFF;
    box-shadow: 0 0 2rem -1rem rgb(72, 96, 146);

    @media only screen and (max-width: 1000px)
    {
        display: flex;
    }

    & > a
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        width: 10rem;
        height: 8.5rem;
        border-top: .5rem solid transparent;

        & > span
        {
            color: #96A5C6;
            margin-top: .5rem;
            font-size: 1.25rem;
        }

        & > svg
        {
            width: 3rem;
            height: 3rem;
            fill: #96A5C6;
        }

        &[data-activate='true']
        {
            border-color: #4a6192;

            & > span
            {
                color: #4a6192;
            }

            & > svg
            {
                fill: #4a6192;
            }
        }
    }
}
